@tailwind base;
@tailwind components;
@tailwind utilities;

*::after , *::before , * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
    
}


@font-face {
    font-family: "NotoNaskhArabic";
    src: url("../font/NotoNaskhArabic-VariableFont_wght.ttf");
}

@font-face {
    font-family: "NotoKufiArabic";
    src: url("../font/NotoKufiArabic-VariableFont_wght.ttf");
}

.kufi {
    font-family: "NotoKufiArabic";
}
.naskh {
    font-family:  "NotoNaskhArabic";
}